footer{
    text-align: center;
    background: black;
    padding: 30px 0;
    a{
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        @media screen and (max-width:350px){
            font-size: 10px;
        }
    }
}